<div class="container-fluid">
    <div class="row ">
        <div class="col col-12  text-center">
            <div class="panel  justify-content-center d-inline-flex" *ngFor="let item of panels;let itemindex = index;">
                <div *ngIf="item.hideclickme" class="headline">
                    <span class="h1 text-uppercase text-primary" (click)="displayedit(itemindex)">
                        Click Me
                    </span>
                </div>
                <div>
                    <div *ngIf="item.showsearch" class="editbox d-flex justify-content-between my-2 mx-2">
                        <input [(ngModel)]="item.cityname" type="text" class="form-control" placeholder="Click to Enter City">
                        <button type="button" (click)="showresults(itemindex)" class="btn btn-primary">Save</button>
                    </div>
                    <div *ngIf="item.showcity"class=" d-flex justify-content-around my-2 mx-2">
                        <span class=" h3 text-uppercase ">
                            {{item.cityname}}
                        </span>
                        <button type="button" (click)="displayedit(itemindex)" class="btn btn-primary ml-5">Edit</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>