<div class="container-fluid">
	<div class="row ">
		<div class="col col-12 text-center">
      <!-- d-inline-flex -->
			<div class="panel  justify-content-center">
				<div class="headline">
        <span 
        class=" h1 text-uppercase text-primary" 
        (click)="displayedit()"  
        >
        Click Me
      </span>
				</div>
      <div>
        <div class="editbox d-flex justify-content-between my-2 mx-2">
					<input type="text" class="form-control"
          placeholder="Click to Enter City">
           <button type="button" class="btn btn-primary">Save</button>
      </div>
          <div class="editbox d-flex justify-content-around my-2 mx-2">
            <span class=" h3 text-uppercase ">
              London
            </span>
           <button type="button" class="btn btn-primary">Edit</button>
      </div>
				</div>
			</div>
		</div>
	</div>