<div class="container-fluid">
    <div class="row ">
        <div class="col col-12  text-center">
            <!--   justify-content-center-->
            <div class="panel flex-column d-inline-flex  " *ngFor="let item of panels;let itemindex = index;"
            [style.background-image]="'url(' + item.url + ')'">

                <div *ngIf="item.hideclickme" class=" headline my-2 mx-2">
                    <span class="h1 text-uppercase text-primary" (click)="displayedit(itemindex)">
                        Click Me
                    </span>
                </div>
                <form [formGroup]="(checkcity.at(itemindex))" (ngSubmit)="showresults(itemindex,item.cityname)" >
                    <div *ngIf="item.showsearch" class="editbox    my-2 mx-2">
                        <input type="text" class="form-control mx-2 my-2 d-inline-flex" name="inputcity"
                            formControlName="inputcity"
                            [ngClass]="{'is-invalid': !checkcity.at(itemindex).controls.inputcity.valid && checkcity.at(itemindex).controls.inputcity.dirty , 'is-valid': checkcity.at(itemindex).controls.inputcity.valid && checkcity.at(itemindex).controls.inputcity.dirty }"
                            placeholder="Click to Enter City">
                            <button type="submit" [disabled]="checkcity.at(itemindex).invalid && checkcity.at(itemindex).touched" class="btn-1 btn-primary d-inline-flex">Save</button>

                        <div *ngIf="checkcity.at(itemindex).controls.inputcity.hasError('cityinvalid') && checkcity.at(itemindex).controls.inputcity.touched"
                            class="mr-5 text-danger">
                            Invalid City Name
                        </div>        
                    </div>
                        
                </form>
            <div *ngIf="item.showcity" class=" editbox d-flex justify-content-around my-2 mx-2">
                <span class=" h2 text-uppercase  my-2 mx-2">
                    {{item.cityname}}
                </span>
                <button type="button" (click)="displayedit(itemindex)" class="btn btn-primary ml-5">Edit</button>
            </div>
            <div class="maindata mt-5">
                <div class="row my-2">
                    <span class="col-4 offset-1 h6"><b>City</b>:</span>
                    <span class="col-4 offset-1">{{item.cityname}}</span>
                </div>
                <div class="row my-2">
                    <span class="col-4 offset-1 h6"><b>Weather</b>:</span>
                    <span class="col-4 offset-1">{{item.weather}}</span>
                </div>
                <div class="row my-2">
                    <span class="col-4 offset-1 h6"><b>TEMPERATURE</b>:</span>
                    <span class="col-4 offset-1">{{item.temp}}</span>
                </div>
                <div class="row my-2">
                    <span class="col-4 offset-1 h6"><b>TIME</b>:</span>
                    <span class="col-4 offset-1">213214</span>
                </div>
            </div>
        </div>
    </div>
</div>